@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.img{
    border-radius: 50px;
    margin-left: 90px;
    margin-top: 20px;
    width: 300px;
}

.username{
    margin-left: 140px;
    margin-top: 12px;
    font-family: 'Pathway Extreme', sans-serif;
    color: #645888;
}

.disotp{
width: 300px;
margin-left: 100px;
margin-top: 20px;
font-family: 'Roboto Mono', monospace;
font-size: 15px;
}

.otp{
    width: 300px;
    margin-left: 180px;
    margin-top: 10px;
    font-family: Sigmar, cursive;
    font-size: 40px;
    color: #645888;

    /* stylelint-disable-next-line declaration-block-no-shorthand-property-overrides */
    font: bold;
    }

.headingon{  position: absolute;
    left: 550px;
    top: 100px;
    width: 487px;
    height: 49px;
    color: #645888;

    /* font-family: Inter, sans-serif; */
    font-size: 16px;
    font-family: Kanit, sans-serif;
    font-weight: 700;
}

.headingof{
    position: absolute;
    left: 550px;
    top: 150px;
    width: 487px;
    height: 49px;
    color: #343F71;
    font-size: 16px;
    font-family: Kanit, sans-serif;
    font-weight: 700;
}

.headingon1{  position: absolute;
    left: 550px;
    top: 270px;
    width: 387px;
    height: 49px;
    color: #645888;
    font-size: 16px;
    font-family: Kanit, sans-serif;
    font-weight: 700;
}

.headingof1{
    position: absolute;
    left: 550px;
    top: 320px;
    width: 387px;
    height: 49px;
    color: #343F71;
    font-size: 16px;
    font-family: Kanit, sans-serif;
    font-weight: 700;
}