@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@1,300&display=swap');

.contentBox_sellercheckjob{
    flex-direction: row;
    display: flex;
    width: 100%;
    height: 80vh;
    margin: 1.5rem 1rem;
}

h2{
    color: var(--font-color);
    background-color: var(--white-color);
    font-family: Inter, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

.buyers_details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: auto;
}

.buyers_Jobdetails p{
    font-size: 1.4rem;
}

.buyers_details_right{
    margin-left: 2rem;
}

.buyer_image{
    width: 18rem; 
}

.buyer_image img{
    border-radius: 50px;
}

.buyer_info{
    background-color: transparent;
}

.buyer_info > h2{
    background-color: transparent;
}

.buyers_Jobdetails{
    background-color: #fff;
    margin-left: 3rem;
    padding: 3rem;
    width: auto;
    height: auto;
}

.buyers_Jobdetails div{
    background-color: transparent;
}

#applyBtn{
    position: relative;
    left: 16rem;
    top: -4rem;
}

/*----------------------------------Responsive design---------------------------------------*/

/*----------------------------------sellerEachjobpage---------------------------------------*/

@media screen and (max-width: 940px) {
    .buyers_Jobdetails{
    margin-left: 2rem;
    padding: 2rem; 
    }

    .buyers_details_right{
        margin-left: 1rem;
    }
}

@media screen and (max-width: 770px) {
    .buyers_details{
        width: 30%;
    }

    .buyer_image{
        width: 14rem; 
    }

    .buyer_image img{
        border-radius: 40px;
    }

    .buyers_Jobdetails{
        padding: 1rem; 
    }   
}

@media screen and (max-width: 640px) {
    .contentBox_sellercheckjob{
        display: flex;
        flex-direction: column;
    }

    .buyers_details{ 
        width: 100vw;
        margin-bottom: 1.4rem;
    }

    .buyer_image{
        width: 15rem; 
    }
}

@media screen and (max-width: 585px) {
    .contentBox_sellercheckjob{
        margin: 1.5rem 0;
    }

    .buyers_details{
        width: 35rem;
    }

    .buyers_Jobdetails{
        width: 30rem;
    }

    .para{
        width: 33rem;   
    }

    .buyers_details_right{
        margin-left: 0;
    }
}
