@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@1,300&display=swap');

*{
    background: #E2F3F5;
      padding: 0;
      margin: 0;
      text-decoration: none;
      list-style: none;
      box-sizing: border-box;
    
  }

  :root{
    --background-color : #E2F3F5;
    --font-color:#645888;
    --white-color :#ffff;
    --transition: 0.8s all ease;
}

body{
    background-color: #E2F3F5;
    font-family: montserrat, sans-serif;
}

.App{
  width: 90vw;
  margin: auto;
}

.btn{
  cursor: pointer;
  background-color: var(--font-color);
  color: var(--white-color);
  margin-right: 15px;
  width: 9rem;
  height: 2.6rem;
  border: 0 solid;
  border-radius: 8px;
  font-family: NSimSun, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.408px;
}

.btn_sm{
  width: 9rem;
  height: 2.6rem;
}

.btn:hover{
  background-color: transparent;
  color: var(--font-color);
  border: 2px solid var(--font-color);
  transition: var(--transition);
}

img{
  width: 100%;
  object-fit: cover;
  margin: auto; 
}

.brandname{
    font-family: 'Kaushan Script', cursive;
    color: #645888;
    margin-left: 1rem;
    text-decoration: none;
    font-size: 1.3rem;
}

/*-------------------------------------------------------------------------------*/

.home{
    position: absolute;
    font-family: Poppins, sans-serif;
    left: 1022px;
    top: 1px;
    width: 46px;
    height: 30px;
    color: #645888;
    font-size: 15px;
    font-weight: 400;
}

.about{
    position: absolute;
    font-family: Poppins, sans-serif;
    left: 1122px;
    top: 1px;
    width: 76px;
    height: 40px;
    color: #645888;
    font-size: 15px;
    font-weight: 400;
}

.button {
    margin-top: 500px;
    align-items: right;
    background-color: #343F71;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #FFF;
    cursor: pointer;
    font-family: system-ui,-apple-system,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;

    /* margin: 0; */
    min-height: 3rem;
    line-height: 1.25;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }

  .button:hover,
  .button:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
  }

  .button:hover {
    transform: translateY(-1px);
  }

  .button:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  }

  nav{
    background: #E2F3F5;
    height: 80px;
    width: 100%;
  }

  label.logo{
    color: #343F71;
    font-size: 35px;
    font-family: 'Kaushan Script', cursive;
    line-height: 80px;
    font-weight: bold;
  }

  nav ul{
    float: right;
    margin-right: 20px;
  }

  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }

  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }

  a.active,a:hover{
    background: #343F71;
    transition: .5s;
  }
  
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }

  #check{
    display: none;
  }

  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }

    nav ul li a{
      font-size: 16px;
    }
  }

  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }

    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #E2F3F5;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }

    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }

    nav ul li a{
      font-size: 20px;
    }

    a:hover,a.active{
      background: none;
      color: #343F71;
    }

    #check:checked ~ ul{
      left: 0;
    }
  }

  section{
    background: url("bg1.jpg") no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
  }