{% extends "seller/base.html" %}
{% load static %}
{#{% block head %}#}
{#<link rel="stylesheet" href="{% static "seller/sellerCheckjob.css" %}">#}
{##}
{##}
{#{% endblock %}#}
{% block content %}

<div class="checkJob">

            <div class="contentBox_sellercheckjob">

               <div class="buyers_details">

                  <div class="buyer_info">
                     <h2>Buyer Info:
                         Name: {{ job.created_by.name }}
                         Email: {{ job.created_by.email }}
                         Phone No. : {{ job.created_by.phoneNo }}</h2>
                  </div>
              </div>

               <div>
                     <div class="buyers_Jobdetails">
                        <div>
                           <h2> Collect The Delivery from :-</h2>
                           <p>{{ job.pickup_address }}, {{ job.pickup_pincode }}</p>
                        </div>

                        <div>
                           <h2>Collect the Delivery At :-</h2>
                           <p>{{ job.pickup_time }}</p>
                        </div>
                        <div>
                           <h2>Deliver At :-</h2>
                           <p>{{ job.delivery_address }}, {{ job.delivery_pincode }}</p>
                        </div>

                        <div>
                           <h2>Deliver By:-</h2>
                           <p> {{ job.delivery_time }} </p>
                        </div>
                     </div>
                    <form method="post">
                        {% csrf_token %}
                        <button>Apply</button>
                   </form>
                     <div>
                        <p>Please don't drive faster than 40KM, take your time, the time we told you is just the customer expectations, we never promote, deliver time.</p>
                     </div>
                </div>

            </div>

         </div>
    <form method="post" style="display: none">
    {% csrf_token %}
  <input type="number" name="otp"   placeholder='OTP'>
  <button type="submit" class="btn">Complete Job</button>

    </form>
    {% endblock %}
