{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <!-- The title of this page -->
    <title>My order | current order</title>

    <!-- Include external CSS files -->
    <link rel="stylesheet" href="{% static "seller/sellerJobBox.css" %}">
    <link rel="stylesheet" href="{% static "buyer/stylesheet.css" %}">
    <link rel="stylesheet" href="{% static "buyer/myorders.css" %}">
    <style>
         form{
            width: 100px;
            position: relative;
            top: -75px;
            right: 75px;
            }
            
        
    </style>
</head>
<body>
<div class="App">
        <header class="header">

            <!-- Navigation bar -->
          <nav class="navbar">
              <h1> DeliverEase</h1>

              <ul class="nav-menu">
                 <!-- Navigation links -->
                  <li class="nav-item">
                      <a href="{% url "home" %}" class="nav-link">Home</a>
                  </li>
                  <li class="nav-item">
                      <a href="/about_us" class="nav-link">About Us</a>
                  </li>
                  <li class="nav-item">
                      <a href="{% url "seller_orders" %}"><button  class="btn"> My Orders</button></a>

                      <!-- This button "Completed Jobs" will redirect to seller completed Job page which will display all jobs which has been completed by seller -->
                      <a href="{% url "completed_jobs" %}"><button  class="btn">Completed Jobs</button></a>
                  </li>
              </ul>
            <!-- hamburger div will use for responsiveness -->
              <div class="hamburger">
                  <span class="bar"></span>
                  <span class="bar"></span>
                  <span class="bar"></span>
              </div>
          </nav>
      </header>


<h2> Jobs </h2>
{% if jobs %}
{% for job1 in jobs %}
<div class="sellerJobBox">

    <!-- In this div All avilable jobs which has been posted by all the buyers will be displayed -->
    <div class="sellerJobs">

         <!-- In 'eachJobBox' div Each Job will be displayed -->
        <div class="eachJobBox">
            <div class="image">
                <img src="{% static "media/buyer.jpg" %}" alt="buyerImg">
            </div>

            <!-- In this div seller will be able to see the info (which is in {{ here }} ) of each jobs which is coming from the backend's data-->
            <div class="jobDetails">
                <h2> Job By : {{ buyer.name }}</h2>
                <div class="time">
                    <p> Delivery Time : {{ job1.delivery_time }}  </p>
                    <p> Pickup Time : {{ job1.pickup_time }} </p>
                </div>
                <div>
                    <p>Delivery Address: {{ job1.delivery_address }}</p>
                    <p>Pickup Address: {{ job1.pickup_address }}</p>
                </div>

                <!-- By clicking 'Check Job' button seller will be able to check the entire details of this particular Job -->
                <div class="job_button">
                    <form method="post">
                        {% csrf_token %}
                        <input value="{{ job1.id }}" name="job_id" type="hidden">
                        <button class="btn" type="submit">Check Job</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endfor %}
 {% else %}
    <!-- If there are no jobs available currently, seller will see this message -->
    <p> No Jobs available currently<p>
{% endif %}

<!-- Include JavaScript file --> 
  <script src="{% static "seller/index.js" %}"></script>
</body>
</html>
