todolist.txt
db.sqlite3
pyvenv.cfg
Lib/
Scripts/
.idea
*/migrations/__pycache__/

*/__pycache__/
*.pyc


C extensions
*.so


# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/