.que{
    position: absolute;
    left: 590px;
    top: 105px;
    width: 247px;
    height: 43px;
    color: #645888;
    font-family: Inter, sans-serif;
    font-size: 36px;
    font-weight: 700;
    font-weight: bold;
}