{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!-- The title of the webpage -->
    <title>DeliverEase | Completed Jobs</title>

    <!-- Link to the external stylesheet -->
    <link rel="stylesheet" href="{% static "seller/sellerJobBox.css" %}"></link>
    <link rel="stylesheet" href="{% static "buyer/stylesheet.css" %}"></link>
    <link rel="stylesheet" href="{% static "buyer/myorders.css" %}"></link>
</head>
<body>
<div class="App">
     <!-- Header section -->
        <header class="header">
          <nav class="navbar">
              <h1> DeliverEase</h1>

              <ul class="nav-menu">
                <!-- Navigation links -->
                  <li class="nav-item">
                      <a href="{% url "index" %}" class="nav-link">Home</a>
                  </li>
                  <li class="nav-item">
                      <a href="/about_us" class="nav-link">About Us</a>
                  </li>
                  <li class="nav-item">

                      <a href="{% url "my_orders" %}"><button  class="btn"> My Orders</button></a>
                      <a href="{% url "buyer_completed_jobs" %}"><button  class="btn">Completed Jobs</button></a>
                  </li>
              </ul>

              <!-- hamburger div will use for responsiveness -->
              <div class="hamburger">
                  <span class="bar"></span>
                  <span class="bar"></span>
                  <span class="bar"></span>
              </div>
          </nav>
      </header>

<h2> Jobs </h2>
{% if jobs %}
{% for job1 in jobs %}
<div class="sellerJobBox">
<!-- this is for the jobs that are completed -->
    <div class="sellerJobs">
        <div class="eachJobBox">
            <div class="jobDetails">
                <h2> Completed By : {{ job1.assigned_to.name }}</h2>
                <div class="time">
                    <p> Delivery Time : {{ job1.delivery_time }}  </p>
                    <p> Pickup Time : {{ job1.pickup_time }} </p>
                </div>
                <div>
                    <p>Delivery Address: {{ job1.delivery_address }}</p>
                    <p>Pickup Address: {{ job1.pickup_address }}</p>
                    <p>Review: {{ job1.review }}</p>
                    <p>Rating: {{ job1.rating }}</p>
                </div>
                <div class="job_button">

                </div>
            </div>
        </div>
    </div>
{% endfor %}
 {% else %}
    <!-- message for buyer if there is no job completed. -->
    <p> No Jobs completed till now.<p>
{% endif %}
</body>
</html>
