{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "buyer/stylesheet.css" %}">
    <link rel="stylesheet" href="{% static "buyer/myorders.css" %}">
    <title>DeliverEase</title>
</head>
<body>
    <div class="App">
        <header class="header">
          <nav class="navbar">
              <h1> DeliverEase</h1>
              <ul class="nav-menu">
                  <li class="nav-item">
                      <a href="{% url "home" %}" class="nav-link">Home</a>
                  </li>
                  <li class="nav-item">
                      <a href="/about_us" class="nav-link">About Us</a>
                  </li>
                  <li class="nav-item">
                      <!-- <a href="#" class="btn">My Orders</a> -->
                      <a href="{% url "seller_orders" %}"><button  class="btn"> My Orders</button></a>
                      <a href="{% url "completed_jobs" %}"><button  class="btn">Completed Jobs</button></a>
                  </li>
              </ul>
              <div class="hamburger">
                  <span class="bar"></span>
                  <span class="bar"></span>
                  <span class="bar"></span>
              </div>
          </nav>
      </header>

    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo">DeliverEase</label>
    <ul>
        <li><a class="active" href="{% url "index" %}">Home</a></li>
        <li><a href="/about_us">About Us</a></li>
        <li> <a class='button' href="{% url "my_orders" %}">My Orders</a></li>
    </ul>
  </nav>
  <div class="sellerJobBox">
    <h2 class='jobshead'>Your Orders :-</h2>

    <div class="sellerJobs">

        <div class="eachJobBox">

            <div class="eachJobBox_left">
                <div class="image">
                    <img src="/static/user.jpg" alt="buyerImg">
                </div>
                <div class="jobDetails">
                        <h2> Job Title </h2>
                    <p>Has accepted your order! and arriving to you</p>

                </div>
            </div>

            <div class="job_button">
                    <a href="{% url "check_order" %}"><button class="btn btn_sm"> Check Order </button></a>
                    <a href="/call"><button class="btn btn_sm"> Call </button></a>
            </div>
        </div>
        <div class="eachJobBox">

            <div class="eachJobBox_left">
                <div class="image">
                    <img src="/static/user.jpg" alt="buyerImg">
                </div>
                <div class="jobDetails">
                        <h2> Job Title </h2>
                    <p>Has accepted your order! and arriving to you</p>

                </div>
            </div>

            <div class="job_button">
                    <a href="{% url "check_order" %}"><button class="btn btn_sm"> Check Order </button></a>
                    <a href="/call"><button class="btn btn_sm"> Call </button></a>
            </div>
        </div>
        <div class="eachJobBox">

            <div class="eachJobBox_left">
                <div class="image">
                    <img src="/static/user.jpg" alt="buyerImg">
                </div>
                <div class="jobDetails">
                        <h2> Job Title </h2>
                    <p>Has accepted your order! and arriving to you</p>

                </div>
            </div>

            <div class="job_button">
                    <a href="{% url "check_order" %}"><button class="btn btn_sm"> Check Order </button></a>
                    <a href="/call"><button class="btn btn_sm"> Call </button></a>
            </div>
        </div>
        <div class="eachJobBox">

            <div class="eachJobBox_left">
                <div class="image">
                    <img src="/static/user.jpg" alt="buyerImg">
                </div>
                <div class="jobDetails">
                        <h2> Job Title </h2>
                    <p>Has accepted your order! and arriving to you</p>

                </div>
            </div>

            <div class="job_button">
                    <a href="{% url "check_order" %}"><button class="btn btn_sm"> Check Order </button></a>
                    <a href="/call"><button class="btn btn_sm"> Call </button></a>
            </div>
        </div>
        <div class="eachJobBox">

            <div class="eachJobBox_left">
                <div class="image">
                    <img src="/static/user.jpg" alt="buyerImg">
                </div>
                <div class="jobDetails">
                        <h2> Job Title </h2>
                    <p>Has accepted your order! and arriving to you</p>

                </div>
            </div>

            <div class="job_button">
                    <a href="{% url "check_order" %}"><button class="btn btn_sm"> Check Order </button></a>
                    <a href="/call"><button class="btn btn_sm"> Call </button></a>
            </div>
        </div>

    </div>
 </div>

</div>

</body>
</html>