{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'buyer/stylesheet.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

    <title>DeliverEase</title>
</head>
<body>
{% if seller %}
<div class="seller_details">

                  <div class="seller_info">
                     <h2>Seller Info:
                         Name: {{ job.assigned_to.name }}
                         <br>
                         Email: {{ job.assigned_to.email }}
                         <br>
                         Phone No. : {{ job.assigned_to.phoneNo }}</h2>
                  </div>
<p>seller details or ask to wait.</p>
        <p> otp: {{ otp }}</p>
<form method="post">
    {% csrf_token %}
  <input type="text" name="review"   placeholder='Review' />
  <input type="number" name="rating"   placeholder='Rating'/>
  <button class="btn">send</button>
{% else %}
    <p>This job has not been assigned to a seller.</p>
{% endif %}
</body>
</html>
