{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- The title of the webpage -->
    <title>DeliverEase | My Orders</title>

    <!-- Link to the external stylesheet -->
    <link rel="stylesheet" href="{% static "seller/sellerJobBox.css" %}">
    <link rel="stylesheet" href="{% static "buyer/stylesheet.css" %}">
    <link rel="stylesheet" href="{% static "buyer/myorders.css" %}">
    <style>
        form{
            width: 100px;
            position: relative;
            top: -75px;
            right: 75px;
        }
    </style>

</head>
<body>
<div class="App">
   <!-- Header section -->
        <header class="header">
          <nav class="navbar">
              <h1> DeliverEase</h1>
              <ul class="nav-menu">
                <!-- Navigation links -->
                  <li class="nav-item">
                      <a href="{% url "index" %}" class="nav-link">Home</a>
                  </li>
                  <li class="nav-item">
                      <a href="/about_us" class="nav-link">About Us</a>
                  </li>
                  <li class="nav-item">
                      <!-- <a href="#" class="btn">My Orders</a> -->
                      <a href="{% url "my_orders" %}"><button  class="btn"> My Orders</button></a>
                      <a href="{% url "buyer_completed_jobs" %}"><button  class="btn">Completed Jobs</button></a>
                  </li>
              </ul>

  <!-- hamburger div will use for responsiveness -->
              <div class="hamburger">
                  <span class="bar"></span>
                  <span class="bar"></span>
                  <span class="bar"></span>
              </div>
          </nav>
      </header>

<h2> Jobs </h2>
{% if jobs %}
{% for job1 in jobs %}
<!-- this is for the buyer details -->
<div class="sellerJobBox">
    <div class="sellerJobs">
        <div class="eachJobBox">
            <!-- this page is for the buyer to see the jobs created by him better known as my orders. -->
            <div class="image">
                <img src="{% static "media/buyer.jpg" %}" alt="buyerImg">
            </div>
            <div class="jobDetails">
                <h2> Job By : {{ job1.created_by.name }}</h2>
                <div class="time">
                    <p> Delivery Time : {{ job1.delivery_time }}  </p>
                    <p> Pickup Time : {{ job1.pickup_time }} </p>
                </div>
                <div>
                    <p>Delivery Address: {{ job1.delivery_address }}</p>
                    <p>Pickup Address: {{ job1.pickup_address }}</p>
                </div>
                <div class="job_button" id="btn-area">
                    <form method="post">
                        {% csrf_token %}
                        <input value="{{ job1.id }}" name="job_id" type="hidden">
                        <button id="check-job-button" class="btn" type="submit">Check Job</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endfor %}
{% else %}
    <!-- Message for buyer -->
    <p> No jobs created by you</p>
{% endif %}
</body>
</html>
