@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.completed{
    position: absolute;
    left: 100px;
    top: 110px;
    width: 393px;
    height: 29px;
    color: #645888;
    font-family: 'Itim', cursive;
    font-family: Itim;
    font-size: 24px;
    font-weight: 400;
}


.buttonjob {
    margin-top: 500px;
    left: 470px;
    top: 80px;

    align-items: right;
    background-color: #343F71;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #FFF;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 400px;
  }
  .buttonjob:hover,
  .buttonjob:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
  }
  .buttonjob:hover {
    transform: translateY(-1px);
  }
  .buttonjob:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  }


.dis1{
    position: absolute;
    left: 470px;
    top: 220px;
    width:400px;
    height: 51px;
    color: #757575;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
}




.buttonjob2 {
    margin-top: 500px;
    left: 65px;
    top: 220px;

    align-items: right;
    background-color: #343F71;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #FFF;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 400px;
  }
  .buttonjob2:hover,
  .buttonjob2:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
  }
  .buttonjob2:hover {
    transform: translateY(-1px);
  }
  .buttonjob2:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  }

  .dis2{
    position: absolute;
    left: 470px;
    top: 360px;
    width:400px;
    height: 51px;
    color: #757575;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
}