@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@1,300&display=swap');
@import url('../static/sellerJobBox.css');

*{
    background: #E2F3F5;
    list-style: none;
    text-decoration: none;
  }

  :root{
    --background-color : #E2F3F5;
    --font-color:#645888;
    --white-color :#ffff;
    --transition: 0.8s all ease;
  }

  .App{
    width: 90vw;
    margin: auto;
  }

  h1{
    color: var(--font-color);
  }

  h2{
    color: #757575;
    font-family: Inter, sans-serif;
    font-size: 25px;
    font-weight: 400;
  }

  .btn{
    cursor: pointer;
    background-color: var(--font-color);
    color: var(--white-color);
    margin-right: 15px;
    width: 9rem;
    height: 2.6rem;
    border: 0 solid;
    border-radius: 8px;
    font-family: NSimSun, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.408px;
  }

  .btn_sm{
    width: 9rem;
    height: 2.6rem;
  }

  .btn:hover{
    background-color: transparent;
    color: var(--font-color);
    border: 2px solid var(--font-color);
    transition: var(--transition);
  }
  
  img{
    width: 100%;
    object-fit: cover;
    margin: auto;
    
  }

  p{
    background-color: transparent;
  }

  .eachJobBox{
    width: 90%;
    height: auto;
    padding: 5px;
    margin-bottom: 1.2rem;
    background: rgba(139, 213, 232, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(139, 213, 232, 0.3);
    display: flex;
    align-items: center;
  }

  .eachJobBox_left{
    display: flex;
    flex-direction: row;
    background-color: transparent;
  }

   .eachJobBox .image{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  } 

  .eachJobBox img{
    width: 5rem;
    border: 0 solid black;
    border-radius: 50%;
  }

  .jobDetails{
    font-family: Inter, sans-serif;
    background-color: transparent;
    padding-left: 22px;
  }

  .jobDetails .time{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .jobDetails .time p{
    margin-right: 1.5rem;
  }

  .jobDetails div{
    background-color: transparent;
  }

  .jobDetails > h2{
    background-color: transparent;
  }

  .job_button{
    background-color: transparent;
    position:absolute;
    right: 0;
  }



  /*----------------------------- for NAVBAR MEDIA QUERY------------------------------------*/
 
  .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 1.5rem;
  }
  
  .hamburger {
      display: none;
  }
  
  .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: #101010;
  }
  
  .nav-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  .nav-item {
      margin-left: 5rem;
  }
  
  .nav-link{
      font-size: 1.6rem;
      font-weight: 400;
      color: #475569;
  }
  
  .nav-link:hover{
      color: #343F71;
  }
  
  @media only screen and (max-width: 1030px) {
    .btn_sm{
      width: auto;
      height: auto;
      padding: 10px;
    }

    .nav-item {
      margin-left: 1.2rem;
  }

  }
  
  @media only screen and (max-width: 768px) {
      .nav-menu {
          position: fixed;
          left: -110%;
          top: 5rem;
          flex-direction: column;
          background-color: #fff;
          width: 100%;
          border-radius: 10px;
          text-align: center;
          transition: 0.3s;
          box-shadow:
              0 10px 27px rgba(0, 0, 0, 0.05);
              z-index: 10;
      }

      .nav-menu li:nth-child(1) a {
        background-color: #fff;
    }

      .nav-menu li:nth-child(2) a {
        background-color: #fff;
    }

      .nav-menu.active {
          left: 0;
      }
  
      .nav-item {
          margin: 2.5rem 0;
      }
  
      .hamburger {
          display: block;
          cursor: pointer;
      }
  
      .hamburger.active .bar:nth-child(2) {
          opacity: 0;
      }
  
      .hamburger.active .bar:nth-child(1) {
          -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
      }
  
      .hamburger.active .bar:nth-child(3) {
          -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
      }
  }
