<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/aboutus.css">
    <link rel="stylesheet" href="/static/stylesheet.css">
    <title>DeliverEase</title>
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label>
        <label class="logo">DeliverEase</label>
        <ul>
            <li><a class="active" href="#">Home</a></li>
            <li><a href="/templates/aboutus.html">About Us</a></li>
            <li> <a class='button' href="/templates/myorders.html">My Orders</a></li>
        </ul>
      </nav>


      <h1 class='who'>Who are we?</h1>
      <h2 class='whoarewe'>Welcome to CodeArena! We are a team of passionate developers committed to creating innovative solutions using coding and programming skills. Our team consists of Devansh Singh Parmar, Aryan Gupta, and Atrika Show.
<br>
        Our current project is a platform that connects delivery personnel with customers directly. We believe that this platform will revolutionize the delivery industry by providing a more flexible and cost-effective delivery model that is more in line with contemporary needs and expectations.
        <br>
        At CodeArena, we are dedicated to creating user-friendly and efficient platforms that address the needs of our customers. We are committed to excellence in all aspects of our work, from design to development to customer service. Our team has the skills and experience necessary to bring your ideas to life and help you achieve your goals.</h2>
</body>
</html>