<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/buyerhomepage.css">
    <link rel="stylesheet" href="/static/stylesheet.css">
    <link rel="stylesheet" href="/static/navbar.css">
    <title>DeliverEase</title>
</head>
<body>

  <div class="App"> 
    <header class="header">
      <nav class="navbar">
          <a href="#" class="nav-logo">DeliverEase</a>
          <ul class="nav-menu">
              <li class="nav-item">
                  <a href="/buyer_home" class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                  <a href="/about_us" class="nav-link">About Us</a>
              </li>
              <li class="nav-item">
                  <a href="/my_orders" class="button">My Orders</a>
              </li>
          </ul>
          <div class="hamburger">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
          </div>
      </nav>
      </header>
      <div class="container"> 
        <div class="buyerhomepage_left"> 
          <h1 class='heading'>Get something delivered.<br>Directly by them.</h1>
          <a href="/place_order"><button class="btn" role="button">Order something.</button></a>
        </div>
        <div class="image"> 
        <img src="/static/homepageimg.png" alt="deliverymanImg"> </div>
    </div>

  </div>
</body>
<script>
  const hamburger = document.querySelector(".hamburger");
  const navMenu = document.querySelector(".nav-menu");
  const navLink = document.querySelectorAll(".nav-link");
  
  hamburger.addEventListener("click", mobileMenu);
  navLink.forEach(n => n.addEventListener("click", closeMenu));
  
  function mobileMenu() {
      hamburger.classList.toggle("active");
      navMenu.classList.toggle("active");
  }
  
  function closeMenu() {
      hamburger.classList.remove("active");
      navMenu.classList.remove("active");
  }
  </script>
</html>