<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/checkorder.css">
    <link rel="stylesheet" href="/static/stylesheet.css">
    <title>DeliverEase</title>
</head>
<body>
  <div class="App">
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label>
        <label class="logo">DeliverEase</label>
        <ul>
          <li><a class="active" href="/seller_home">Home</a></li>
          <li><a href="/about_us">About Us</a></li>
          <li> <a class='button' href="/my_orders">My Orders</a></li>
        </ul>
      </nav>

      <div class="checkorder_container">
        <div class="checkorder_container_left"> 
          <div class="image"> 
            <img src="/static/check.jpg" alt="image" class='img'>
          </div>
            <h1 class='username'>USERNAME</h1>
            <h2 class='disotp'>Please share this OTP, once they ask you.</h2>

            <h1 class='otp'>5673</h1>
        </div>

      <div class='headingon'>
      <h1 >Delivering on :- </h1>
    </div>
    <div class='headingof'>
      <h2>Green Island Apartment, 108th floor , Karol Bagh, New Delhi, 110034</h2>      
    </div>
          
      <div class='headingon1'>
      <h1 >Delivering at :-</h1>
    </div>
    <div class='headingof1'>
      <h2>9PM</h2>      
    </div>

  </div>
</div>
   
</body>
</html>