<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index page</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/Navbar.css">
    <link rel="stylesheet" href="/static/indexcontainer.css">

</head>
<body>
    <div class="App">

        <div class='nav'>
            <h2> DeliverEase</h2>
            <div class='nav_right'>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                </ul>
                <button class="btn">Login</button>
        </div>
        </div>

        <div class='container'>
            <h1> Empowering Delivery Partners,<br/>Connecting Communities!</h1>
      
            <div class='containerLower'>
      
              <div class='left'>
                      <p> New User ?</p>
                  <Link to="/getstarted"> <button class='btn'> Get started</button> </Link>
                  
                  <button class='btn'> Who we are</button>
              </div>
      
              <div class='right'>
                  <img src="/static/indexPageImg.png" alt="homepageimg" />
              </div>
      
            </div>
        </div>
            
       
          
    </div>
</body>
</html>