<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/jobform.css">
    <link rel="stylesheet" href="/static/stylesheet.css">
    <link rel="stylesheet" href="/static/navbar.css">
    <title>DeliverEase</title>
</head>
<body>
  <div class="App"> 

    <header class="header">
      <nav class="navbar">
          <a href="#" class="nav-logo">DeliverEase</a>
          <ul class="nav-menu">
              <li class="nav-item">
                  <a href="/buyer_home" class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                  <a href="/about_us" class="nav-link">About Us</a>
              </li>
              <li class="nav-item">
                  <a href="#" class="button">My Orders</a>
              </li>
          </ul>
          <div class="hamburger">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
          </div>
      </nav>
  </header>

      <div class="formBox"> 
      <h1>Please fill these details to continue :-</h1>
      <form action="#" method="POST">
          <div class="formInput">
          <div>
            <input type="text" class='collectdel' placeholder='PickUp Address' name="pickup_address"/>
            <input type="text" class='collectdel' placeholder='Delivery Address' name="delivery_address"/>
          </div>
          <div> 
            <input type="text" class='collectdel' placeholder='PickUp Time' name="pickup_time"/>
            <input type="text" class='collectdel' placeholder='Delivery Time' name="delivery_time"/>
          </div>
          <div> 
            <input type="text" class='collectdel' placeholder='PickUp Date' name="pickup_date"/>
            <input type="text" class='collectdel' placeholder='Delivery Date' name="delivery_date"/>
          </div>
          <div>
          <div>
              <input type="text" class='collectdel' placeholder='PickUp Pin Code' name="pickup_pincode"/>
              <input type="text" class='collectdel' placeholder='Delivery Pin Code' name="pickup_address"/>
          </div>
          <div>
              <input type="text" class='collectdel' placeholder='unique order Tag ex. 0007 001, 123, 234324, 2423 etc.' name="orderTag" />
              <input type="text" class='collectdel' placeholder='Product type eg.Food, medicines etc.' name="product_type" />
         </div>
          <button type="submit" class='btn'>Place Order</button>
        </div>
      </form>

  </div>
</body>
<script>
  const hamburger = document.querySelector(".hamburger");
  const navMenu = document.querySelector(".nav-menu");
  const navLink = document.querySelectorAll(".nav-link");
  
  hamburger.addEventListener("click", mobileMenu);
  navLink.forEach(n => n.addEventListener("click", closeMenu));
  
  function mobileMenu() {
      hamburger.classList.toggle("active");
      navMenu.classList.toggle("active");
  }
  
  function closeMenu() {
      hamburger.classList.remove("active");
      navMenu.classList.remove("active");
  }
      </script>
</html>