<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/sellersignup.css">
    <style>
        .sellerInfo_login{
            padding: 2rem;
            width: 60vw;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: auto;
            
        }
        button{
            margin-top: 1rem;
        }

    </style>
    
</head>
<body>
    <div class='App'>
        <div class='signUp'> 
            <h1>Login</h1>
            <form >
            <div class="sellerInfo_login"> 
                <input type="email" name="email"   placeholder='Billiot@example.com' />
                <input type="password" name="password"   placeholder='Password'/>
                <button class="btn">login</button>
            </form>
            </div>
        </div>


    </div>
    
</body>
</html>