<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheet.css">
    <link rel="stylesheet" href="/static/myorders.css">
    <link rel="stylesheet" href="/static/navbar.css">
    <title>DeliverEase</title>
</head>
<body>   
    <div class="App"> 
        <header class="header">
            <nav class="navbar">
                <a href="#" class="nav-logo">DeliverEase</a>
                <ul class="nav-menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="button">My Orders</a>
                    </li>
                </ul>
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </nav>
            </header>
  <div class="sellerJobBox">
    <h2 class='jobshead'>Your Orders :-</h2>

    <div class="sellerJobs">

        <div class="eachJobBox">

            <div class="eachJobBox_left"> 
                <div class="image"> 
                    <img src="/static/user.jpg" alt="buyerImg"> 
                </div>
                <div class="jobDetails">
                        <h2> Job Title </h2>
                    <p>Has accepted your order! and arriving to you</p>
                        
                </div>
            </div>
            
            <div class="job_button">
                    <a href="/check-order"><button class="button"> Check Order </button></a>
                    <a href="/call"><button class="button"> Call </button></a>
            </div>
        </div>
        <div class="eachJobBox">

            <div class="eachJobBox_left"> 
                <div class="image"> 
                    <img src="/static/user.jpg" alt="buyerImg"> 
                </div>
                <div class="jobDetails">
                        <h2> Job Title </h2>
                    <p>Has accepted your order! and arriving to you</p>
                        
                </div>
            </div>
            
            <div class="job_button">
                    <a href="/check-order"><button class="button"> Check Order </button></a>
                    <a href="/call"><button class="button"> Call </button></a>
            </div>
        </div>
        <div class="eachJobBox">

            <div class="eachJobBox_left"> 
                <div class="image"> 
                    <img src="/static/user.jpg" alt="buyerImg"> 
                </div>
                <div class="jobDetails">
                        <h2> Job Title </h2>
                    <p>Has accepted your order! and arriving to you</p>
                        
                </div>
            </div>
            
            <div class="job_button">
                    <a href="/check-order"><button class="button"> Check Order </button></a>
                    <a href="/call"><button class="button"> Call </button></a>
            </div>
        </div>
        <div class="eachJobBox">

            <div class="eachJobBox_left"> 
                <div class="image"> 
                    <img src="/static/user.jpg" alt="buyerImg"> 
                </div>
                <div class="jobDetails">
                        <h2> Job Title </h2>
                    <p>Has accepted your order! and arriving to you</p>
                        
                </div>
            </div>
            
            <div class="job_button">
                    <a href="/check-order"><button class="button"> Check Order </button></a>
                    <a href="/call"><button class="button"> Call </button></a>
            </div>
        </div>
        <div class="eachJobBox">

            <div class="eachJobBox_left"> 
                <div class="image"> 
                    <img src="/static/user.jpg" alt="buyerImg"> 
                </div>
                <div class="jobDetails">
                        <h2> Job Title </h2>
                    <p>Has accepted your order! and arriving to you</p>
                        
                </div>
            </div>
            
            <div class="job_button">
                    <a href="/check-order"><button class="button"> Check Order </button></a>
                    <a href="/call"><button class="button"> Call </button></a>
            </div>
        </div>
        
        
        
        
    </div>
 </div>
   
</div> 

</body>
<script>
    const hamburger = document.querySelector(".hamburger");
    const navMenu = document.querySelector(".nav-menu");
    const navLink = document.querySelectorAll(".nav-link");
    
    hamburger.addEventListener("click", mobileMenu);
    navLink.forEach(n => n.addEventListener("click", closeMenu));
    
    function mobileMenu() {
        hamburger.classList.toggle("active");
        navMenu.classList.toggle("active");
    }
    
    function closeMenu() {
        hamburger.classList.remove("active");
        navMenu.classList.remove("active");
    }
        </script>
</html>