<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheet.css">
    <link rel="stylesheet" href="/static/selectjob.css">
    <title>DeliverEase</title>
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label>
        <label class="logo">DeliverEase</label>
        <ul>
          <li><a class="active" href="#">Home</a></li>
          <li><a href="/templates/aboutus.html">About Us</a></li>
          <li> <a class='button' href="/templates/myorders.html">My Orders</a></li>
        </ul>
      </nav>

      <h1 class='completed'>Completed, now choose one of these :-</h1>

      <button class='buttonjob'>Post this as a Job</button>
      <h1 class='dis1'>In this option, you will post a job, nearest delivery man will accept it and deliver the goods to your doorsteps.</h1>
      <button class='buttonjob2'>Select a delivery man</button>
      <h1 class='dis2'>In this option, you will post a job, nearest delivery man will accept it and deliver the goods to your doorsteps.</h1>
</body>
</html>