{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index page</title>
    <link rel="stylesheet" href="{% static  %}">
    <link rel="stylesheet" href="/static/Navbar.css">
    <link rel="stylesheet" href="/static/indexcontainer.css">

</head>
<body>
    <div class="App">

        

        <header class="header">
            <nav class="navbar">
                <h2> DeliverEase</h2>
                <ul class="nav-menu">
                    <li class="nav-item">
                        <a href="{% url "global_index" %}" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url "about_us" %}" class="nav-link">About Us</a>
                    </li>
                    <li class="nav-item">
<!--                         <a href="#" class="btn">My Orders</a> -->
                        <button class="btn"> Login</button>
                    </li>
                </ul>
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </nav>
        </header>

        <div class='container'>
            <h1> Empowering Delivery Partners,<br/>Connecting Communities!</h1>
      
            <div class='containerLower'>
      
              <div class='left'>
                      <p> New User ?</p>
                  <Link to="/getstarted"> <button class='btn'> Get started</button> </Link>
                  
                  <button class='btn'> Who we are</button>
              </div>
      
              <div class='right'>
                  <img src="/static/indexPageImg.png" alt="homepageimg" />
              </div>
      
            </div>
        </div>
            
       
       
    </div>
            <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script>
            const hamburger = document.querySelector(".hamburger");
            const navMenu = document.querySelector(".nav-menu");
            const navLink = document.querySelectorAll(".nav-link");

            hamburger.addEventListener("click", mobileMenu);
            navLink.forEach(n => n.addEventListener("click", closeMenu));

            function mobileMenu() {
                hamburger.classList.toggle("active");
                navMenu.classList.toggle("active");
            }

            function closeMenu() {
                hamburger.classList.remove("active");
                navMenu.classList.remove("active");
            }
    </script>

    
</body>
</html>